@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  font-family: arial;
  font: black;
  font-size: 24px;
  margin: 0px;
  outline: dashed 1px black;
  /* 準備 */
  position: relative;
}

.child {
  width: 200px;
  height: 200px;
  color: white;
  /* 水平・垂直方向の中央揃え */
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.management {
  width: 500px;
  height: 200px;
  color: white;
  /* 水平・垂直方向の中央揃え */
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}